{% extends "base.html" %}



{% block title %}{{ source }} to {{ dest }}{% endblock %}

{% block body %}
<img class="w3-image" src="https://www.w3schools.com/w3images/london2.jpg" alt="London" width="1500" height="700">
<div class="w3-display-middle" style="width:65%">
    <div class="w3-container w3-white w3-padding-16">
    <ul>
        {% for t in trains %}
        <div class="w3-container">
            <li>
                {{ t }}
                <button class="w3-button" style="float:right;">Book</button>
            </li>
        </div>
        {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}